@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700);

.logo {
    font-family: "IBM Plex Sans", sans-serif !important;
  }

.comment {
    background-color: #f6f6f6;
    color: #555;
    text-align: center;
    font-size: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    border: 1px solid;
    padding: 6px;
}
.comment:hover {
    filter: brightness(0.8);
}
a {
    text-decoration: none;
    color: rgb(var(--color-highlight));
}